h1{
    text-align:center;
    color: #f00;
}

h2{
    color: dodgerblue;
}

#firstChallenge {
        text-align: center;
        
}

#secondChallenge {
    text-align: center;
}

#thirdChallenge{
    text-align: center;
}

#answer{
    color: #f00;
}